:root {
  --primary: #332939;
  --secondary: #faf3ff;
  --title: #beb8c3;
  --success: #6fbf71;
  --info: #00bcd4;
  --warning: #e47943;
  --danger: #f44336;
  --light: #f1f1f1;
  --dark: #212121;
}

.bg-primary{
    background-color: var(--primary) !important;
}
.bg-secondary{
    background-color: var(--secondary) !important;
}
.bg-title{
    background-color: var(--title) !important;
}
.bg-white{
    background-color: #fff !important;
}
.text-white{
    color: white !important;
}

.bg-success{
    background-color: var(--success);
}

.bg-error{
    background-color: var(--warning);
}